@import 'styles/theme/config.module';

.root {
  display: flex;
}

.tooltip {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $grey_900;
}

.infoButton {
  cursor: pointer;
  background: $white;
  outline: none;
  border: 0;
  display: flex;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
