@font-face {
  font-family: 'MontserratRegular';
  src: url('../public/configurator/fonts/cssFonts/MontserratRegular.ttf');
  src: url('../public/configurator/fonts/cssFonts/MontserratRegular.woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MontserratMedium';
  src: url('../public/configurator/fonts/cssFonts/MontserratMedium.ttf');
  src: url('../public/configurator/fonts/cssFonts/MontserratMedium.woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MontserratBold';
  src: url('../public/configurator/fonts/cssFonts/MontserratBold.ttf');
  src: url('../public/configurator/fonts/cssFonts/MontserratBold.woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MontserratSemiBold';
  src: url('../public/configurator/fonts/cssFonts/MontserratSemiBold.ttf');
  src: url('../public/configurator/fonts/cssFonts/MontserratSemiBold.woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// mail fonts
@font-face {
  font-family: 'schriftart1';
  src: url('../public/configurator/fonts/v3dFonts/schriftart_1.otf');
  src: url('../public/configurator/fonts/v3dFonts/schriftart_1.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'schriftart2';
  src: url('../public/configurator/fonts/v3dFonts/schriftart_2.otf');
  src: url('../public/configurator/fonts/v3dFonts/schriftart_2.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'schriftart3';
  src: url('../public/configurator/fonts/v3dFonts/schriftart_3.otf');
  src: url('../public/configurator/fonts/v3dFonts/schriftart_3.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'schriftart4';
  src: url('../public/configurator/fonts/v3dFonts/schriftart_4.otf');
  src: url('../public/configurator/fonts/v3dFonts/schriftart_4.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'schriftart5';
  src: url('../public/configurator/fonts/v3dFonts/schriftart_5.otf');
  src: url('../public/configurator/fonts/v3dFonts/schriftart_5.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'schriftart6';
  src: url('../public/configurator/fonts/v3dFonts/schriftart_6.otf');
  src: url('../public/configurator/fonts/v3dFonts/schriftart_6.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'schriftart7';
  src: url('../public/configurator/fonts/v3dFonts/schriftart_7.otf');
  src: url('../public/configurator/fonts/v3dFonts/schriftart_7.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'schriftart8';
  src: url('../public/configurator/fonts/v3dFonts/schriftart_8.otf');
  src: url('../public/configurator/fonts/v3dFonts/schriftart_8.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'schriftart9';
  src: url('../public/configurator/fonts/v3dFonts/schriftart_9.otf');
  src: url('../public/configurator/fonts/v3dFonts/schriftart_9.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'schriftart10';
  src: url('../public/configurator/fonts/v3dFonts/schriftart_10.otf');
  src: url('../public/configurator/fonts/v3dFonts/schriftart_10.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'schriftart11';
  src: url('../public/configurator/fonts/v3dFonts/schriftart_11.otf');
  src: url('../public/configurator/fonts/v3dFonts/schriftart_11.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'schriftart12';
  src: url('../public/configurator/fonts/v3dFonts/schriftart_12.otf');
  src: url('../public/configurator/fonts/v3dFonts/schriftart_12.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'schriftart13';
  src: url('../public/configurator/fonts/v3dFonts/schriftart_13.otf');
  src: url('../public/configurator/fonts/v3dFonts/schriftart_13.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'schriftart14';
  src: url('../public/configurator/fonts/v3dFonts/schriftart_14.otf');
  src: url('../public/configurator/fonts/v3dFonts/schriftart_14.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'schriftart15';
  src: url('../public/configurator/fonts/v3dFonts/schriftart_15.otf');
  src: url('../public/configurator/fonts/v3dFonts/schriftart_15.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'schriftart16';
  src: url('../public/configurator/fonts/v3dFonts/schriftart_16.otf');
  src: url('../public/configurator/fonts/v3dFonts/schriftart_16.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'schriftart17';
  src: url('../public/configurator/fonts/v3dFonts/schriftart_17.otf');
  src: url('../public/configurator/fonts/v3dFonts/schriftart_17.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'schriftart18';
  src: url('../public/configurator/fonts/v3dFonts/schriftart_18.otf');
  src: url('../public/configurator/fonts/v3dFonts/schriftart_18.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'schriftart19';
  src: url('../public/configurator/fonts/v3dFonts/schriftart_19.otf');
  src: url('../public/configurator/fonts/v3dFonts/schriftart_19.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'schriftart20';
  src: url('../public/configurator/fonts/v3dFonts/schriftart_20.otf');
  src: url('../public/configurator/fonts/v3dFonts/schriftart_20.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
